body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.app {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  align-items: stretch;
}

.left-cont {
  background-color: #404040;
  flex-shrink: 0;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.middle-cont {
  flex-basis: 260px;
  min-width: 0;
  border-right: #ccc 1px solid;
  overflow-y: scroll;
  flex-shrink: 0;
}

.middle {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-width: 0;
}

.right-cont {
  flex-grow: 3;
  min-width: 0;

}

.right {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}

.menu-avatar {
  align-self: center;
  width: 44px;
  height: 44px;
  background-color: #efefef;
  border-radius: 5px;
  margin: 15px 15px 40px 15px;
}

.menu {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.menu-item {
  flex-basis: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-select {
  color: #00dd00;
  background-color: #303030;
}

.chat-list-item {
  background-color: #fff;
  border-bottom: #ccc 1px solid;
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
}

.chat-list-item-select {
  background-color: #f2f2f2;
}

.chat-list-avatar {
  width: 44px;
  height: 44px;
  background-color: #efefef;
  border-radius: 5px;
  flex-shrink: 0;
}

.chat-list-cont {
  min-width: 0;
  padding-left: 15px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
}

.chat-list-cont-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.chat-list-name {
  color: #000;
}

.chat-list-time {
  color: #aaa;
  font-size: 0.8em;
}

.chat-list-cont-bottom {
  min-width: 0;
  color: #aaa;
  font-size: 0.9em;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-detail-title {
  flex-shrink: 0;
  flex-basis: 50px;
  padding-left: 15px;
  font-weight: bold;
  border-bottom: #ccc 1px solid;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.chat-detail-cont {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.chat-detail-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-width: 0;
}

.chat-detail-input {
  flex-shrink: 0;
  flex-basis: 100px;
  padding: 15px;
  border-top: #ccc 1px solid;
}

.chat-detail-input > textarea {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
}

.msg-list-out-cont {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.msg-list-item-time {
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px;
}

.msg-list-item {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 10px 0px 10px;
}

.msg-list-item-select {
  flex-flow: row-reverse nowrap;
}

.msg-list-avatar {
  width: 30px;
  height: 30px;
  background-color: #efefef;
  border-radius: 5px;
  flex-shrink: 0;
}

.msg-list-cont {
  min-width: 0;
  padding: 0px 10px;
}

.room-msg-list-cont {
  min-width: 0;
  padding:0px 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.msg-list-content {
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 0.9em;
  border-radius: 5px;
}

.msg-list-content-select {
  background-color: #aadd00;
}

.msg-list-cont-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.msg-list-name {
  color: #aaa;
  font-size: 0.8em;
}

.msg-list-time {
  color: #aaa;
  font-size: 0.8em;
}

.msg-list-cont-bottom {
  padding-top: 3px;
}